$paddingHeight: 2vh;
$paddingSide: 4.65vw;
$contentPadding: $paddingHeight $paddingSide ;
$defaultBackgroundColor: #ffffff;
$black1: #545F7D;
$black2: #213F7D;
$white: #ffffff;
$primary :  $black1;
$secondary :  #39CDCC;
$gradient1:linear-gradient(92.91deg, rgba(248, 147, 29, 0.26) 3.38%, rgba(154, 23, 37, 0.17) 98.48%);
$fontFamily: "Work", sans-serif;
$fontFamily2: "Avenir Next", sans-serif;
$defaultFontSize: 16px;
$headerHeight: 75px;
$footerColor: #A4A4A4;
$anchorMargin: 1.5vw;
$smallMargin: 0.5vw;
$smallpadding: 4px;
$borderRadius: 10px;
$sideBarWidth: 283px;
// MEDIA QUERIES
$android: "540px";
$tablet: "768px";
$laptop: "1024px";
$maxScreen: 1560px;